/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-weight: normal;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Grand Hotel";
  src: url("../assets/fonts/GrandHotel-Regular.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  margin: 0;

  font-family: Roboto, sans-serif;
}

h1 {
  /* BEGIN (write your solution here) */
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  font-family: "Grand Hotel", cursive;

  /* END */
}

img {
  max-width: 100%;

  vertical-align: middle;
}

button {
  font-family: inherit;
}

.mobile {
  width: 375px;

  color: #262626;

  background: #fff;

  -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

          box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;

  background: #f5f5f5;
}

.mobile-time {
  font-weight: bold;
  font-size: 13px;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;

  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;

  cursor: pointer;
}

.icon-signal {
  background-image: url("../assets/icons/signal.svg");
}

.icon-connection {
  background-image: url("../assets/icons/wifi.svg");
}

.icon-battery {
  background-image: url("../assets/icons/battery.svg");
}

.icon-camera {
  background-image: url("../assets/icons/camera.svg");
}

.icon-igtv {
  background-image: url("../assets/icons/igtv.svg");
}

.icon-messanger {
  background-image: url("../assets/icons/messanger.svg");
}

.icon-more {
  background-image: url("../assets/icons/more.svg");
}

.icon-save {
  background-image: url("../assets/icons/save.svg");
}

.icon-like {
  background-image: url("../assets/icons/like.svg");
}

.icon-comment {
  background-image: url("../assets/icons/comment.svg");
}

.icon-home {
  background-image: url("../assets/icons/home.svg");
}

.icon-search {
  background-image: url("../assets/icons/search.svg");
}

.icon-add {
  background-image: url("../assets/icons/add.svg");
}

/* BEGIN (write your solution here) */

.mt-5 {
  margin-top: 5px;
}

.p-5 {
  padding: 5px;
}

.mr-18 {
  margin-right: 18px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.col-end {
  grid-column: -1;
}

.col-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.col-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

[data-section="header"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  background-color: #fafafa;
}

[data-section="stories"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.stories-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  background-color: white;
  border-style: solid;
  border-color: #e0e0e0;
  cursor: pointer;
}

.stories-text {
  display: block;
  width: 65px;
  font-size: 12px;
  font-weight: 500;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[data-section="post"] {
  font-size: 13px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
}

.post-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-item img {
  width: 35px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
}

.post-footer {
  font-size: 13px;
  border-bottom: 1px solid #c6c6c8;
  padding: 20px 15px;
}

.post-footer-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
}

[data-section="footer"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  padding: 20px;
}

.avatar {
  background-image: url("../assets/images/avatar_5.jpg");
}

/* END */

.bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid #c6c6c8;
}

.border-top {
  border-top: 1px solid #c6c6c8;
}

.rounded {
  border-radius: 50%;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.w-15 {
  width: 15px;
}

.justify-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid-column-end {
  grid-column: -1;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}
