@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha/Neucha.ttf");
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

:root {
  --color-white: #ffff;
  --color-light: #f5f4f0;
  --color-primary: #ff8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-50: #908d8b;
  --color-brown: #b09a81;
  --color-white-50: #d7ccc0;
  --color-blue: #1085c5;
  --color-blue-2: #007dc1;
  --color-hover: #ea7600;
}

html {
  font-size: 16px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

body {
  margin: 0;
  color: var(--color-dark);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
  font-weight: 400;
  font-family: Neucha, cursive;
  color: var(--color-primary);
}

h1 {
  font-size: 72px;
  z-index: 333;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
section {
  position: relative;
  background-color: var(--color-light);
}

a {
  color: inherit;
}

img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

header img {
  filter: none;
}

nav ul > li:first-child {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  padding-top: 0;
}

nav ul > li:first-child:hover {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  cursor: default;
}

nav ul {
  margin: 0;
  padding: 0;
}

.bg-before::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.container {
  position: relative;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  column-gap: 30px;
}

.column {
  flex-basis: 50%;
}

.column-nav {
  flex-basis: 33.3%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row-gap20px {
  row-gap: 20px;
}

.min-height {
  min-height: 0;
}

.list-st-none {
  list-style-type: none;
}

.h4 {
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.pt-200px {
  padding-top: 200px;
}

.p-55px {
  padding: 55px;
}

.ta-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.mt-5px {
  margin-top: 5px;
}

.mt-60px {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-211px {
  margin-top: 211px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-35px {
  padding-bottom: 32px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-185px {
  margin-bottom: 185px;
}

.lh-1-2em {
  line-height: 1.2em;
}

.lh-24px {
  line-height: 24px;
}

.lh-41px {
  line-height: 41px;
}

.font-neucha {
  font-family: Neucha, cursive;
}

.fz-12px {
  font-size: 12px;
}

.fz-14px {
  font-size: 14px;
}

.fz-24px {
  font-size: 24px;
}

.fz-34px {
  font-size: 34px;
}

.fz-52px {
  font-size: 52px;
}

.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: var(--color-white);
}

.color-white-50 {
  color: var(--color-white-50);
}

.color-dark {
  color: var(--color-dark);
}

.color-dark-50 {
  color: var(--color-dark-50);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-brown {
  color: var(--color-brown);
}

.color-blue-2 {
  color: var(--color-blue-2);
}

.bg-color-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-brown {
  background-color: var(--color-brown);
}

.bg-color-white {
  background-color: var(--color-white);
}

.btn-header {
  padding: 12px 24px;
}

.btn {
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-hover);
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: relative;
  z-index: 777;
  margin-bottom: -200px;
}

p[data-mb-30px-mt-0] {
  margin-top: 0;
  margin-bottom: 30px;
}

.nav-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-item {
  max-width: 350px;
  height: 323px;
  background-color: var(--color-light);
  cursor: pointer;
}

.nav-item:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.nav-item h2 {
  margin: 0;
}

.nav-item p {
  margin: 0;
}

.nav-item-link {
  display: block;
  height: 275px;
  padding: 24px;
}

.nav-number {
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

nav .nav-number {
  margin-bottom: 40px;
}

.nav-item:hover .nav-number,
.nav-item:hover,
.nav-item:hover h3 {
  color: var(--color-white);
}

.text-decoration-none {
  text-decoration: none;
}

.input-footer {
  width: 73.3%;
  height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #e3e3e3;
}

.label {
  display: block;
  margin-bottom: 9px;
}

.btn-send {
  position: relative;
  float: right;
  height: 50px;
  width: 70px;
  margin-right: 55px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px;
}

.btn-send::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: auto;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  content: "";
}
